/* COS Portal CSS Document */

html, body {
	margin: 10px;
	padding: 0;
	background: #fff;
}

#pageContainer {
	padding:5px 10px 5px 10px;
}

html, body, p, td, li, ul, ol, form, input, textarea, select * {
	/* set default text styling for entire site - cover the bases */
	color: #3F3F3F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

ul {
	margin-top:7px;
	margin-bottom:7px;
}

ul li {
	list-style:none;
	padding: 5px 0 0 10px;
	background: url("redBullet.gif") no-repeat left 12px;
}

/***/
td {
	color: #3F3F3F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* ----- HEADER TAGS ----- */
h1, h2, h3, h4, h5, h6, h7, .title {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #cc0000;	
	font-size: 22px;
	margin-bottom: 12px;
	font-weight: normal;
	padding: 0;
	text-align: left;
}
h2, .title {
	color: #3F3F3F;
	font-size: 20px;
	font-weight: normal;
	margin-bottom:9px;
}
h3 {
	color: #3F3F3F;
	font-size: 18px;
	margin-bottom: 7px;
	font-weight: normal;
	margin-top: 0px;
}
h4 {
	color: #3F3F3F;
	font-size: 16px;
	font-weight: bold;
	margin-bottom:4px;
}
h5 {
	color: #343434;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 0px;
}
h6 {
	color: #343434;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
}

img {
  vertical-align: middle;
	border: 0;
}

/* 15 Apr 2010 - Ron Bousquet modified anchor styles to support hover behavior without negatively affecting named anchors in Pubs docs */
a:link, a:visited, a:link:active {
  color:#005091;
  text-decoration:none;
}

a:link:hover, a:visited:hover {
  background-color:#DDECF4;
  color:#CC0000 !important;
}

hr {
	margin-top:10px;
	margin-bottom:15px;
	color:#999999;
}

a.external {
	background: url("icon_external.gif") no-repeat right;
	padding-right:12px;
	margin-right:2px;
}

a.mouseover {
	background: url("icon_mouseover.gif") no-repeat right;
	padding-right:12px;
	margin-right:2px;
}
<%--=================================================== 
        BREADCRUMB TRAIL 
===================================================--%>

.wptheme-breadcrumbNav {
    float:${requestScope.cssRules.bidiLeft};
    clear:${requestScope.cssRules.bidiLeft};
        color:${colors.tc_breadcrumb_text_color};
    padding: 0px 5px;
        font-size: ${requestScope.cssRules.fontSize.portalSmall};
}

.wptheme-breadcrumbNav {
	font-size: 10px;
	color: #666;
}

.wptheme-breadcrumbNav a, .wptheme-breadcrumbNav a:visited, .wptheme-breadcrumbNav a:active{
        color: ${colors.tc_breadcrumb_link_color};
    text-decoration: none; 
}

/* 31 Mar 2010 - Separated pseudo-classes to ensure they would be interpreted correctly */ 

.wptheme-breadcrumbNav a:link, .wptheme-breadcrumbNav a:visited{
	color: #3f3f3f;
}

.wptheme-breadcrumbNav a:hover, .wptheme-breadcrumbNav a:active {
	/* 31 Mar 2010 - Ron Bousquet commented out the following property
	background-color:#E3E3E3; */
	color:#CC0000;
}

.wptheme-breadcrumbSeparator {
        color: ${colors.tc_breadcrumb_link_color};
    padding: 0px 5px;
}

.wptheme-breadcrumbSeparator {
	color: #666;
	padding: 0px 5px; 
}

/* 2010/03/31 - Bill Dees added this img bordered style to be used for img references in anchors */
img.bordered {
  border-style:solid; 
  border-width:1; 
  border-color:#005091;
}

/* 2010/08/18 - Ron Bousquet added button styles so that independent pages could have buttons */
.wpsButtonText {
	font: bold 11px Arial, Helvetica, sans-serif !important;
	color: #fff !important;
	text-transform: uppercase !important;
	margin: 0 !important;
	background: #78b0c4 url(/wps/themes/html/CadenceWeb/images/button_background.png) no-repeat right top !important;
	height: 19px !important;	
	border: none !important;
	border-left: 1px ridge #78b0c4 !important;
	padding: 0px 20px 1px 10px !important;
        -moz-border-radius-topleft: 2px;  
        -moz-border-radius-bottomleft: 2px; 
	cursor:pointer;
	position: static !important;
}
.wpsButtonTextBack{
	font: bold 11px Arial, Helvetica, sans-serif !important;
	color: #fff !important;
	text-transform: uppercase !important;
	margin-top:0;
	margin-left:!important;
	background: #78b0c4 url(/wps/themes/html/CadenceWeb/images/back_button_background.png) no-repeat left top !important;
	height: 19px !important;
	border: none !important;
	border-right: 1px ridge #78b0c4 !important;
	cursor:pointer;
	padding: 0px 15px 1px 25px;
    	   -moz-border-radius-topleft: 2px;
     	   -moz-border-radius-bottomleft: 2px;
	}
.wpsButtonTextBlank{
	font: bold 11px Arial, Helvetica, sans-serif !important;
	color: #fff !important;
	text-transform: uppercase !important;
	margin-top:0;
	margin-left:!important;
	background: #78b0c4 url(/wps/themes/html/CadenceWeb/images/button_background_blank.png) no-repeat left top !important;
	height: 19px !important;
	border: none !important;
	border-right: 1px ridge #78b0c4 !important;
	cursor:pointer;
	padding: 0px 15px 1px 15px;
    	   -moz-border-radius-topleft: 2px;
     	   -moz-border-radius-bottomleft: 2px;
	}
	
.wpsButtonText[disabled]{
 	font-weight: bold;
   	color: #A7A6AA !important;
  	background-color: #DDDDDD; 
 	background-repeat: repeat-x;
 	background-position: left center; 
  	border: 1px solid #919191;
  	padding: 2px 4px;
  	margin: 0px;
  	text-align: center;
   	cursor:default;
   	font-style:oblique !important;
   	text-shadow:0.1em 0.1em 0 white !important;
}
.wpsButtonTextBlank[disabled]{
 	font-weight: bold;
    	color: #A7A6AA !important;
    	background-color: #DDDDDD; 
    	background-repeat: repeat-x;
    	background-position: left center; 
    	border: 1px solid #919191;
    	padding: 2px 4px;
    	margin: 0px;
    	text-align: center;
    	cursor:default;
    	font-style:oblique !important;
    	text-shadow:0.1em 0.1em 0 white !important;
}
.wpsButtonTextBack[disabled]{
 	font-weight: bold;
    	color: #A7A6AA !important;
    	background-color: #DDDDDD; 
    	background-repeat: repeat-x;
    	background-position: left center; 
    	border: 1px solid #919191;
    	padding: 2px 4px;
    	margin: 0px;
    	text-align: center;
    	cursor:default;
    	font-style:oblique !important;
    	text-shadow:0.1em 0.1em 0 white !important;
}	